@import "vars";

.selectmenu-toggle {
    &::after {
        align-self: center;
        width: $selectmenu-toggle-width;
        height: $selectmenu-toggle-height;
        content: "";
        background-color: currentcolor;
        mask-image: $selectmenu-toggle-icon;
        mask-repeat: no-repeat;
        mask-size: $selectmenu-toggle-width $selectmenu-toggle-height;
    }

    &:not(:disabled) {
        cursor: default;
    }
}

.selectmenu-multi {
    align-items: center;

    &:not(:disabled) {
        cursor: text;
    }

    .btn {
        --ui-btn-padding-y: #{$selectmenu-multi-btn-padding-y};
        --ui-btn-font-size: #{$selectmenu-multi-btn-font-size};
        --ui-btn-color: #{$selectmenu-multi-btn-color};
        --ui-btn-bg: #{$selectmenu-multi-btn-bg};
        --ui-btn-border-color: #{$selectmenu-multi-btn-border-color};
        --ui-btn-hover-bg: #{$selectmenu-multi-btn-hover-bg};
        --ui-btn-hover-border-color: #{$selectmenu-multi-btn-hover-border-color};
        --ui-btn-active-border-color: #{$selectmenu-multi-btn-active-border-color};
    }

    >* {
        margin-right: $selectmenu-multi-item-spacing;
    }
}

.selectmenu-multi-input {
    width: 0;
    min-width: 20px;
    padding: 0;
    outline: 0;
    background: transparent;
    border: 0;
}

.selectmenu-placeholder {
    color: $selectmenu-placeholder-color;
    pointer-events: none;
    user-select: none;
}

.selectmenu-menu {
    --ui-selectmenu-z-index: #{$selectmenu-z-index};
    --ui-selectmenu-color: #{$selectmenu-color};
    --ui-selectmenu-bg: #{$selectmenu-bg};
    --ui-selectmenu-border-width: #{$selectmenu-border-width};
    --ui-selectmenu-border-color: #{$selectmenu-border-color};
    --ui-selectmenu-item-padding-x: #{$selectmenu-item-padding-x};
    --ui-selectmenu-item-padding-y: #{$selectmenu-item-padding-y};
    --ui-selectmenu-item-color: #{$selectmenu-item-color};
    --ui-selectmenu-item-focus-color: #{$selectmenu-item-focus-color};
    --ui-selectmenu-item-focus-bg: #{$selectmenu-item-focus-bg};
    --ui-selectmenu-item-active-color: #{$selectmenu-item-active-color};
    --ui-selectmenu-item-active-bg: #{$selectmenu-item-active-bg};
    --ui-selectmenu-group-padding-y: #{$selectmenu-group-padding-y};
    --ui-selectmenu-group-padding-x: #{$selectmenu-group-padding-x};
    --ui-selectmenu-group-color: #{$selectmenu-group-color};

    position: absolute;
    z-index: var(--ui-selectmenu-z-index);
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: $selectmenu-font-size;
    color: var(--ui-selectmenu-color);
    text-align: left;
    background-color: var(--ui-selectmenu-bg);
    border: var(--ui-selectmenu-border-width) var(--ui-border-style) var(--ui-selectmenu-border-color);
    opacity: 0;
    transition: opacity var(--ui-selectmenu-duration, var(--ui-transition-duration)) var(--ui-transition-timing-function);

    &.show {
        opacity: 1;
    }

    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }
}

.selectmenu-items {
    margin: 0;
    overflow-y: auto;
}

.selectmenu-item {
    clear: both;
    display: block;
    width: 100%;
    padding: var(--ui-selectmenu-item-padding-y) var(--ui-selectmenu-item-padding-x);
    font-weight: $selectmenu-item-font-weight;
    color: var(--ui-selectmenu-item-color);
    text-align: inherit;
    white-space: nowrap;
    cursor: default;
    background-color: transparent;
    border: 0;

    &.active {
        color: var(--ui-selectmenu-item-active-color);
        background-color: var(--ui-selectmenu-item-active-bg);
    }

    &.focus {
        color: var(--ui-selectmenu-item-focus-color);
        background-color: var(--ui-selectmenu-item-focus-bg);
    }

    &.disabled {
        pointer-events: none;
        opacity: var(--ui-disabled-opacity);
    }

    .selectmenu-menu-sm & {
        font-size: $selectmenu-sm-font-size;
    }

    .selectmenu-menu-lg & {
        font-size: $selectmenu-lg-font-size;
    }
}

.selectmenu-group {
    display: block;
    padding: var(--ui-selectmenu-group-padding-y) var(--ui-selectmenu-group-padding-x);
    margin-bottom: 0;
    font-size: $selectmenu-group-font-size;
    font-weight: 600;
    color: var(--ui-selectmenu-group-color);
    white-space: nowrap;
    cursor: default;
}

.selectmenu-group-container {
    .selectmenu-item {
        padding-left: calc(var(--ui-selectmenu-group-padding-x) + var(--ui-selectmenu-item-padding-x));
    }
}
